{% extends "base.html" %}
{% load static %}


{% block content %}
    <!-- Banner Start -->
    <section class="page-banner shop-full-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="round-shape"></span>
                    <h2 class="banner-title">Recover Password</h2>
                    <div class="bread-crumb"><a href="i{% url "accounts:register" %}">Home</a> / recover_password</div>
                    <div class="banner-img">
                        <img src="{% static "images/shop/banner.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Login Register Section Start -->
    <section class="login-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <h3 class="sec-title">Forgot Password?</h3>
                    <p class="sec-desc">
                        {% include "includes/alerts.html" %}
                    </p>
                    <div class="register-form">
                        <form action="{% url "accounts:forgotPassword" %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                                </div>
                            </div>
                            {{ form.email.errors }}
                            <div class="social-log-regi">
                                <p><a href="{% url "accounts:login" %}" class="float-right">Got password? Login</a>></p>
                            </div>
                            <div class="keep-log-regi">
                                <input type="radio" id="register" name="submit" value="keep-register">
                                <label for="register">
                                    I accept the terms and conditions, including the Privacy Policy
                                </label>
                            </div>
                            <input type="submit" name="submit" value="register">
                        </form>
                    </div>
                    <p class="text-center mt-4">Don't have account? <a href="{% url "accounts:register" %}">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}