<div class="row">
    <div class="col-md-7">
        <div class="product-cate">
            <h5>Categories</h5>
            <ul>
                <li><a class="active" href="#">All</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Computers</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">On Sale</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-5">
        <div class="sort-view">
            <a class="view-mode active" href="#"><i class="twi-th"></i></a>
            <a class="view-mode" href="#"><i class="twi-bars"></i></a>
            <div class="sorts">
                <select name="sort">
                    <option value="">Default Sorting</option>
                    <option selected="selected" value="">low to high</option>
                    <option value="">high to low</option>
                    <option value="">Best Seller</option>
                    <option value="">Popular Products</option>
                </select>
                <i class="twi-angle-down1"></i>
            </div>
        </div>
    </div>
</div>